html {
	font-size: 10px;
	font-family: 'Open Sans', sans-sans-serif;
	background-color: #383C33;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #B4D196;
	padding: 0 20px 20px 20px;
	border: 5px solid white;
}

h1 {
	font-size: 40px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

a {
	font-size: 14px;
	line-height: 2;
}
